body{
    background-color: antiquewhite;
}
.welcome {
    text-align: center;
    font-family: 'Anton', sans-serif;    
    font-size: 80px;
    border: 10px;
    border-color: black;

}
.maincontainer{
    position:absolute;
    display: inline-block;
    width: 800px;
    height: 260px;
    background: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: solid 10px red; */
    text-align: center;
    /* display: inline-block; */
}
.card{
    /* position: relative; */
    top: 0;
    left: 0;
    width: 800px;
    height: 260px;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 1s ease;
    /* border: solid 10px red; */
  }


  .flipCard {
    transform: rotateY(180deg) 
  }
.question-container{
    position: absolute;
    border: solid 5px purple;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    overflow: hidden;
    backface-visibility: hidden;
    width: 800px;
    height:260px;
    margin: auto;
    margin-top:50px;
    padding:10px;
}
.answer{
    position: absolute;
    border: solid 5px purple;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    width: 800px;
    height: 260px;
    backface-visibility: hidden;
    overflow: hidden;
    margin:auto;
    margin-top: 50px;
    padding:20px;
    transform:rotateY(180deg);
}
button { 
    background-color: green;
    margin-top: 10px;
    /* margin-left: 400px; */
    color: black;
    padding: 20px;
    text-align: center;
    font-family: 'Anton', sans-serif; 
    font-size: 20px;
    display: inline-block;
}
button:hover{
    transform: scale(1.1)
}
.choices{
    display: flex;
    width:inherit;
    justify-content: space-evenly;
}
h3{
    margin-top: 10px;
}
    
