body{
    background-color: #346b31;
}
.welcome {
    text-align: center;
    font-family: 'Callie Chalk Font', sans-serif;
    font-size: 60px;
    border: 10px;
    border-color: black;
    color:white

}
.maincontainer{
    position:absolute;
    display: inline-block;
    width: 800px;
    height: 260px;
    background: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.card{
    top: 0;
    left: 0;
    width: 800px;
    height: 260px;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 1s ease;
  }


  .flipCard {
    transform: rotateY(180deg) 
  }
.question-container{
    position: absolute;
    text-align: center;
    font-family: 'Callie Chalk Font', sans-serif;
    font-size: 25px;
    overflow: hidden;
    backface-visibility: hidden;
    width: 800px;
    height:300px;
    margin: auto;
    margin-top:50px;
    padding:15px;
    color: white;
}
.answer{
    position: absolute;
    border: ridge 5px antiquewhite;
    text-align: center;
    font-family: 'Callie Chalk Font', sans-serif;
    font-size: 30px;
    color:white;
    width: 800px;
    height: 300px;
    backface-visibility: hidden;
    overflow: hidden;
    margin:auto;
    margin-top: 50px;
    padding:15px;
    transform:rotateY(180deg);
}
button { 
    background-color: green;
    margin-top: 10px;
    margin-left: 20px;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Callie Chalk Font', sans-serif;
    font-size: 20px;
    display: inline-block;
    border: ridge 5px antiquewhite;
}
button:hover{
    transform: scale(1.1)
}
.choices{
    display: flex;
    width:inherit;
    justify-content: space-evenly;
}
h3{
    margin-top: 10px;
    border-bottom: groove 5px antiquewhite;
}

